.avatar-header {
    background-color: #c3c3c3;
    padding: 5px;
    margin-left: 2px;
    border-radius: 5px 5px;
    border-left: 2px double #aaaaaa;
}

.profile-avatar{
    border: 1px solid black;
}


.menu-button {
    margin-left: auto;
    float: right;
    color: white;
    font-size: 18px;
}


.SmartHealth{
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-family: Georgia;
    margin-right: auto;
    align-self: flex-start;
}


.landing-body{
    width: 1000px;
    height: 1000px;
    
    background: url(../assets/test.jpg) no-repeat;
    background-attachment: fixed;
}


.menubar{
    border: 2px solid rgb(1, 1, 66);
    display: flex;
    justify-content: flex-start;
    background-color: #15445f;
    
}

Link {
    text-decoration: none;
}


.landing-image{
    width: 90%;
    margin-left: 5%;

}

a:-webkit-any-link{
    text-decoration: none !important;
}


.login-body{
    background: url(../assets/iStock-695349930.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    overflow: hidden; 
}

body, html{
    height: 100%;
    margin: 0%;
}



table.login_table {
    background-color: rgba(215, 230, 248, 0.733);
    padding: 3%;
    font-size: 18px;
    width: 30%;
    height: 450px;
    border: 2px solid rgb(2, 2, 173);
    vertical-align: middle;
    margin-right: 10%;
    margin-left: auto;
    margin-top: 2%;
    margin-bottom: 1%;
    text-align: center;
}

table.PswdReset{
    background-color: rgba(215, 230, 248, 0.733);
    padding: 4%;
    font-size: 18px;
    width: 30%;
    height: 450px;
    border: 2px solid rgb(1, 1, 66);
    vertical-align: middle;
    text-align: center;

}

.login_width{
    width: 100%;
    
}

.patient-register-form {
    background-color: rgba(215, 230, 248, 0.733);
    text-align: left;
    margin: 40px auto;
    padding-left:10%;
    padding-right:10%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 250px;
    border: 2px solid  rgb(1, 1, 66);
    border-radius: 5px 5px;
    
}

/*.patient-register-form-button{
    float:right;
    right: 100px;
    margin-top: 20px !important;
}

/*.patient-register-form > div{
    width:250px;
}*/
 

/*.flex-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-box label, select{
    margin-right: auto;
}*/

.formControl{
    width: 100%; 
  }
  
.Page404icon{
    height: 100px;
    padding: 20px;
    vertical-align: middle;
    display: inline-block;
}

.Page-not-found{
    font-size: 30px;
    text-emphasis-color: red;
}